<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dataflowstores.dataflow">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="m">
        <activity
            android:name=".ui.shifts.ShiftsActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gateway.GateWay"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoice.FirstInvoice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Checkout"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddProducts"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.products.ProductDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScanBarCode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoice.PrintInvoice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DeviceListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoice.PrintScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchInvoice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StoreReportScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receipts.ReceiptScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receipts.PrintReceipt"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchReceipts"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.financialReport.FinancialReport"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.financialReport.FinancialReportPrintScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cashing.ProductScreenCashing"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cashing.SearchProductsCashing"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cashing.CashingPrinting"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cashing.SearchCashing"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.SearchCustomerBalance"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.expenses.ExpensesScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.expenses.PrintExpenses"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.expenses.SearchExpenses"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchItemPrice.SearchItemPrice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.itemSalesReport.ItemSalesReport"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.itemSalesReport.ItemSalesPrintScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.cashierMovesReport.CashierMovesReport"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.cashierMovesReport.CashierMovesReportPrinting"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reports.supplierSalesReport.SupplierSalesReport"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.reports.supplierSalesReport.SupplierSalesPrintScreen" />
        <activity android:name=".ui.payments.PaymentsScreen" />
        <activity android:name=".ui.payments.SearchPayments" />
        <activity android:name=".ui.payments.PrintPayment" />
        <activity android:name=".ui.reports.DealersBalancesReport" />
        <activity android:name=".ui.reports.dealersBalancesReport.DealersBalancesReport" />

        <service android:name="net.posprinter.service.PosprinterService" />
    </application>

</manifest>